{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if isAccredited %}
  {% set providerName = accreditedProvider.operatingName %}
{% else %}
  {% set providerName = trainingProvider.operatingName %}
{% endif %}

{% if currentProvider %}
  {% set caption = providerName %}
  {% set showChangeLinks = false %}
{% else %}
  {% set caption = "Add partnership - " + providerName %}
  {% set showChangeLinks = true %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% set accreditations %}
        <ul class="govuk-list">
          {% for accreditation in accreditationItems %}
            <li>
              {{ accreditation.text }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Accredited provider"
            },
            value: {
              text: accreditedProvider.operatingName
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "accredited provider"
                }
              ]
            } if (not isAccredited) and showChangeLinks
          },
          {
            key: {
              text: "Training partner"
            },
            value: {
              text: trainingProvider.operatingName
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "training partner"
                }
              ]
            } if isAccredited and showChangeLinks
          },
          {
            key: {
              text: "Accreditations"
            },
            value: {
              html: accreditations
            },
            actions: {
              items: [
                {
                  href: actions.change + "/accreditations?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "accreditations"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save partnership"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
