{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if isAccredited %}
  {% set providerName = accreditedProvider.operatingName %}
{% else %}
  {% set providerName = trainingPartner.operatingName %}
{% endif %}

{% if currentProvider %}
  {% set caption = providerName %}
  {% set showChangeLinks = false %}
{% else %}
  {% set caption = "Add partnership - " + providerName %}
  {% set showChangeLinks = true %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% set academicYearsHtml %}
        <ul class="govuk-list {{- ' govuk-list--bullet' if academicYearItems.length > 1 }}">
          {% for academicYear in academicYearItems %}
            <li>
              {{ academicYear.text }}<br>
              <span class="govuk-hint">{{ academicYear.hint.text }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set partnershipDatesHtml %}
        <p class="govuk-body">
          Starts on {{ partnershipDates.startsOn }}
        </p>
        {% if partnershipDates.endsOn %}
          <p class="govuk-body">
            Ends on {{ partnershipDates.endsOn }}
          </p>
        {% else %}
          <p class="govuk-hint">No end date</p>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Accredited provider"
            },
            value: {
              text: accreditedProvider.operatingName
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "accredited provider"
                }
              ]
            } if (not isAccredited) and showChangeLinks
          },
          {
            key: {
              text: "Training partner"
            },
            value: {
              text: trainingPartner.operatingName
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "training partner"
                }
              ]
            } if isAccredited and showChangeLinks
          },
          {
            key: {
              text: "Partnership dates"
            },
            value: {
              html: partnershipDatesHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/dates?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "partnership dates"
                }
              ]
            }
          },
          {
            key: {
              text: "Academic year" + ("s" if academicYearItems.length > 1)
            },
            value: {
              html: academicYearsHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/academic-years?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "academic years"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save partnership"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
