{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "partnerships" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% if pagination.totalCount %}
  {% set subtitle = "Partnerships (" + pagination.totalCount | numeral("0,0") + ")" %}
{% else %}
  {% set subtitle = "Partnerships" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if not provider.archivedAt %}
      {{ govukButton({
        text: "Add partnership",
        href: actions.new
      }) }}
    {% endif %}

    {% if partnerships.length %}

      {% for item in partnerships %}

        {% set accreditedProviderHtml %}
          {% if not item.isAccreditedSide %}
            <a href="/providers/{{ item.accreditedProvider.id }}">
              {{ item.accreditedProvider.operatingName }}
            </a>
          {% else %}
            {{ item.accreditedProvider.operatingName }}
          {% endif %}
        {% endset %}

        {% set trainingPartnerHtml %}
          {% if item.isAccreditedSide %}
            <a href="/providers/{{ item.trainingPartner.id }}">
              {{ item.trainingPartner.operatingName }}
            </a>
          {% else %}
            {{ item.trainingPartner.operatingName }}
          {% endif %}
        {% endset %}

        {% set accreditationsHtml %}
          <ul class="govuk-list">
            {% for acc in item.accreditations %}
              <li>
                {{ acc.number }} ({{ acc.startsOn | govukDate }}
                {% if acc.endsOn %} to {{ acc.endsOn | govukDate }}{% else %} onward{% endif %})
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              text: item.trainingPartner.operatingName if item.isAccreditedSide else item.accreditedProvider.operatingName
            },
            actions: {
              items: [
                {
                  href: actions.change + "/" + item.id,
                  text: "Change",
                  visuallyHiddenText: "partner " + loop.index
                },
                {
                  href: actions.delete + "/" + item.id + "/delete",
                  text: "Delete",
                  visuallyHiddenText: "partner " + loop.index
                }
              ]
            } if not provider.archivedAt
          },
          rows: [
            {
              key: {
                text: "Accredited provider"
              },
              value: {
                html: accreditedProviderHtml
              }
            },
            {
              key: {
                text: "Training partner"
              },
              value: {
                html: trainingPartnerHtml
              }
            },
            {
              key: {
                text: "Accreditations"
              },
              value: {
                html: accreditationsHtml
              }
            }
          ]
        }) }}

      {% endfor %}

      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">
        There are no partnerships for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
