{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "partnerships" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% if pagination.totalCount %}
  {% set subtitle = "Partnerships (" + pagination.totalCount | numeral("0,0") + ")" %}
{% else %}
  {% set subtitle = "Partnerships" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if not provider.archivedAt %}
      {{ govukButton({
        text: "Add partnership",
        href: actions.new
      }) }}
    {% endif %}

    {% if partnerships.length %}

      {% for partnership in partnerships %}

        {% set summaryCardTitleHtml %}
          {% if partnership.isAccreditedSide %}
            {% if partnership.partnerIsLinkable %}
              <a href="/providers/{{ partnership.trainingPartner.id }}">
                {{ partnership.trainingPartner.operatingName }}
              </a>
            {% else %}
              {{ partnership.trainingPartner.operatingName }}
            {% endif %}
          {% else %}
            {% if partnership.accreditedIsLinkable %}
              <a href="/providers/{{ partnership.accreditedProvider.id }}">
                {{ partnership.accreditedProvider.operatingName }}
              </a>
            {% else %}
              {{ partnership.accreditedProvider.operatingName }}
            {% endif %}
          {% endif %}
        {% endset %}

        {% set summaryActionsHtml %}
          {% if partnership.isAccreditedSide %}
            {% if partnership.partnerIsLinkable %}
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="{{ actions.change }}/{{ partnership.id }}/accreditations">Change<span class="govuk-visually-hidden"> {{ partnership.trainingPartner.operatingName }} partnership</span></a>
                </li>
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="{{ actions.delete }}/{{ partnership.id }}/delete">Delete<span class="govuk-visually-hidden"> {{ partnership.accreditedProvider.operatingName }} partnership</span></a>
                </li>
              </ul>
            {% endif %}
          {% else %}
            {% if partnership.accreditedIsLinkable %}
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="{{ actions.change }}/{{ partnership.id }}/accreditations">Change<span class="govuk-visually-hidden"> partner {{ loop.index }}</a>
                </li>
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="{{ actions.delete }}/{{ partnership.id }}/delete">Delete<span class="govuk-visually-hidden"> partner {{ loop.index }}</a>
                </li>
              </ul>
            {% endif %}
          {% endif %}
        {% endset %}

        {% set accreditationsHtml %}
          <ul class="govuk-list govuk-list--bullet">
            {% for accreditation in partnership.accreditations %}
              <li>
                {{ accreditation.number }}<br>
                <span class="govuk-hint">Starts on {{ accreditation.startsOn | govukDate -}}
                {% if accreditation.endsOn %}, ends on {{ accreditation.endsOn | govukDate }}{% endif %}</span>
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              {{ summaryCardTitleHtml | safe }}
            </h2>
            {{ summaryActionsHtml | safe if not provider.archivedAt }}
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Accredited provider
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ partnership.accreditedProvider.operatingName }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Training partner
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ partnership.trainingPartner.operatingName }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Linked accreditations
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ accreditationsHtml | safe }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

      {% endfor %}

      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">
        There are no partnerships for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
