{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "partnerships" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% if pagination.totalCount %}
  {% set subtitle = "Partnerships (" + pagination.totalCount + ")" %}
{% else %}
  {% set subtitle = "Partnerships" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if not provider.archivedAt %}
      {{ govukButton({
        text: "Add partnership",
        href: actions.new
      }) }}
    {% endif %}

    {% if partnerships.length %}

      {% for partner in partnerships %}

        {% set cardTitleHtml %}
          {{ partner.operatingName }}
          {% if partner.deletedAt %}
            {{ govukTag({
              text: "Deleted",
              classes: "govuk-tag--red govuk-!-margin-left-1"
            }) }}
          {% elif partner.archivedAt %}
            {{ govukTag({
              text: "Archived",
              classes: "govuk-!-margin-left-1"
            }) }}
          {% endif %}
        {% endset %}

        {% set operatingNameHtml %}
          {% if partner.deletedAt %}
            {{ partner.operatingName }}
          {% else %}
            <a href="{{ actions.view }}/{{ partner.id }}" class="govuk-link">
              {{ partner.operatingName }}
            </a>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              html: cardTitleHtml
            },
            actions: {
              items: [
                {
                  href: actions.delete + "/" + partner.ProviderPartnership.id + "/delete",
                  text: "Delete",
                  visuallyHiddenText: "address " + loop.index
                }
              ]
            } if not provider.archivedAt
          },
          rows: [
            {
              key: {
                text: "Provider type"
              },
              value: {
                text: partner.type | getProviderTypeLabel if partner.type.length else "Not entered",
                classes: "govuk-hint" if not partner.type.length
              }
            },
            {
              key: {
                text: "Accreditation type"
              },
              value: {
                text: "Accredited" if partner.isAccredited else "Not accredited"
              }
            } if 1==0,
            {
              key: {
                text: "Operating name"
              },
              value: {
                html: operatingNameHtml
              }
            },
            {
              key: {
                text: "Legal name"
              },
              value: {
                text: partner.legalName if partner.legalName.length else "Not entered",
                classes: "govuk-hint" if not partner.legalName.length
              }
            },
            {
              key: {
                text: "UK provider reference number (UKPRN)"
              },
              value: {
                text: partner.ukprn
              }
            },
            {
              key: {
                text: "Unique reference number (URN)"
              },
              value: {
                text: partner.urn if partner.urn.length else "Not entered",
                classes: "govuk-hint" if not partner.urn.length
              }
            } if partner.type == "school",
            {
              key: {
                text: "Provider code"
              },
              value: {
                text: partner.code
              }
            }
          ]
        }) }}

      {% endfor %}

      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">
        There are no partnerships for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
