<h2 class="govuk-heading-m govuk-!-margin-top-7">Accreditation</h2>

{{ govukButton({
  text: "Add accreditation",
  href: actions.accreditation.new
}) }}

{% if provider.accreditations.length %}
  {% for accreditation in provider.accreditations %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Accreditation " + loop.index
        },
        actions: {
          items: [
            {
              href: actions.accreditation.delete + "/" + accreditation.id + "/delete",
              text: "Remove",
              visuallyHiddenText: "accreditation " + loop.index
            },
            {
              href: actions.accreditation.change + "/" + accreditation.id + "/edit",
              text: "Change",
              visuallyHiddenText: "accreditation " + loop.index
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Accreditation number"
          },
          value: {
            text: accreditation.number
          }
        },
        {
          key: {
            text: "Date accreditation starts"
          },
          value: {
            text: accreditation.startsOn | govukDate
          }
        },
        {
          key: {
            text: "Date accreditation ends"
          },
          value: {
            text: accreditation.endsOn | govukDate if accreditation.endsOn else "Not entered",
            classes: "govuk-hint" if not accreditation.endsOn
          }
        }
      ]
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">
    There are no accreditations for {{ provider.operatingName if provider.operatingName else "this provider" }}.
  </p>
{% endif %}
