<h2 class="govuk-heading-m govuk-!-margin-top-7">Addresses</h2>

{{ govukButton({
  text: "Add address",
  href: actions.address.new
}) }}

{% if provider.addresses.length %}
  {% for address in provider.addresses %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Address " + loop.index
        },
        actions: {
          items: [
            {
              href: actions.address.delete + "/" + address.id + "/delete",
              text: "Remove",
              visuallyHiddenText: "address " + loop.index
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Address line 1"
          },
          value: {
            text: address.line1
          }
        },
        {
          key: {
            text: "Address line 2"
          },
          value: {
            text: address.line2
          }
        },
        {
          key: {
            text: "Address line 3"
          },
          value: {
            text: address.line3
          }
        },
        {
          key: {
            text: "Town"
          },
          value: {
            text: address.town
          }
        },
        {
          key: {
            text: "County"
          },
          value: {
            text: address.county
          }
        },
        {
          key: {
            text: "Postcode"
          },
          value: {
            text: address.postcode
          }
        },
        {
          key: {
            text: "Latitude"
          },
          value: {
            text: address.latitude
          }
        },
        {
          key: {
            text: "Longitude"
          },
          value: {
            text: address.longitude
          }
        }
      ]
    }) }}

    {# ,
    {
      href: actions.address.change + "/" + address.id + "/edit",
      text: "Change",
      visuallyHiddenText: "address " + loop.index
    } #}
  {% endfor %}
{% else %}
  <p class="govuk-body">
    There are no addresses for {{ provider.operatingName if provider.operatingName else "this provider" }}.
  </p>
{% endif %}
