<h2 class="govuk-heading-m govuk-!-margin-top-7">Contacts</h2>

{{ govukButton({
  text: "Add contact",
  href: actions.contact.new
}) }}

{% if provider.contacts.length %}
  {% for contact in provider.contacts %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Contact " + loop.index
        },
        actions: {
          items: [
            {
              href: actions.contact.delete + "/" + contact.id + "/delete",
              text: "Remove",
              visuallyHiddenText: "contact " + loop.index
            },
            {
              href: actions.contact.change + "/" + contact.id + "/edit",
              text: "Change",
              visuallyHiddenText: "contact " + loop.index
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: contact.firstName
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: contact.lastName
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: contact.email
          }
        },
        {
          key: {
            text: "Telephone"
          },
          value: {
            text: contact.telephone
          }
        }
      ]
    }) }}
  {% endfor %}
{% else %}
  <p class="govuk-body">
    There are no contacts for {{ provider.operatingName if provider.operatingName else "this provider" }}.
  </p>
{% endif %}
