{% set filterOptionsHtml %}
{{ govukCheckboxes({
  id: "filters-provider-type",
  name: "filters[providerType]",
  fieldset: {
    legend: {
      text: "Provider type",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  values: data.filters.providerType,
  items: [
    {
      value: "hei",
      text: "hei" | getProviderTypeLabel
    },
    {
      value: "school",
      text: "school" | getProviderTypeLabel(true)
    } if 1==0,
    {
      value: "school",
      text: "school" | getProviderTypeLabel
    },
    {
      value: "other",
      text: "other" | getProviderTypeLabel
    }
  ]
}) }}

{{ govukCheckboxes({
  id: "filters-accreditation-type",
  name: "filters[accreditationType]",
  fieldset: {
    legend: {
      text: "Accreditation status",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  values: data.filters.accreditationType,
  items: [
    {
      value: "accredited",
      text: "accredited" | getAccreditationTypeLabel
    },
    {
      value: "notAccredited",
      text: "notAccredited" | getAccreditationTypeLabel
    }
  ]
}) }}

{{ govukCheckboxes({
  id: "filters-show-archived",
  name: "filters[showArchivedProvider]",
  fieldset: {
    legend: {
      text: "Archived providers",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  classes: "govuk-checkboxes--small",
  values: data.filters.showArchivedProvider,
  items: [
    {
      value: "showArchivedProvider",
      text: "Include archived providers"
    }
  ]
}) }}
{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body">
              <a class="govuk-link govuk-link--no-visited-state" href="{{ actions.filters.remove }}">Clear filters</a>
            </p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li>
                <a class="app-filter__tag" href="{{ item.href }}">
                  <span class="govuk-visually-hidden">Remove this filter</span> {{ item.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="{{ actions.filters.apply }}" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{ filterOptionsHtml | safe }}
      </form>
    </div>
  </div>
</div>
