<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingTag %}
      {% if provider.deletedAt %}
        {{ govukTag({
          text: "Deleted",
          classes: "govuk-tag--red govuk-tag__heading"
        }) }}
      {% else %}
        {% if provider.archivedAt %}
          {{ govukTag({
            text: "Archived",
            classes: "govuk-tag__heading"
          }) }}
        {% endif %}
      {% endif %}
    {% endset %}

    {% include "_includes/page-heading.njk" %}

    {% if provider.deletedAt %}
      <p class="govuk-body">Provider deleted on {{ provider.deletedAt | govukDateTime }}</p>
    {% endif %}

  </div>
</div>
