{{ appSecondaryNavigation({
  label: "Provider navigation",
  items: [
    {
      href: supportBaseUrl,
      text: "Provider details",
      active: secondaryNavId == "details"
    },
    {
      href: supportBaseUrl + "/accreditations",
      text: "Accreditations",
      active: secondaryNavId == "accreditations"
    },
    {
      href: supportBaseUrl + "/addresses",
      text: "Addresses",
      active: secondaryNavId == "addresses"
    },
    {
      href: supportBaseUrl + "/contacts",
      text: "Contacts",
      active: secondaryNavId == "contacts"
    },
    {
      href: supportBaseUrl + "/partnerships",
      text: "Partnerships",
      active: secondaryNavId == "partnerships"
    },
    {
      href: supportBaseUrl + "/activity",
      text: "Activity log",
      active: secondaryNavId == "activity"
    }
  ]
}) }}
