{% if isSupportUser %}
  {{ appSecondaryNavigation({
    label: "Provider navigation",
    items: [
      {
        href: providerBaseUrl,
        text: "Provider details",
        active: secondaryNavId == "details"
      },
      {
        href: providerBaseUrl + "/accreditations",
        text: "Accreditations",
        active: secondaryNavId == "accreditations"
      },
      {
        href: providerBaseUrl + "/addresses",
        text: "Addresses",
        active: secondaryNavId == "addresses"
      },
      {
        href: providerBaseUrl + "/contacts",
        text: "Contacts",
        active: secondaryNavId == "contacts"
      },
      {
        href: providerBaseUrl + "/partnerships",
        text: "Partnerships",
        active: secondaryNavId == "partnerships"
      },
      {
        href: providerBaseUrl + "/users",
        text: "Users",
        active: secondaryNavId == "users"
      },
      {
        href: providerBaseUrl + "/activity",
        text: "Activity log",
        active: secondaryNavId == "activity"
      }
    ]
  }) }}
{% endif %}
