{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Confirm you want to archive " + provider.operatingName %}
{% set caption = "Archive provider" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers/" + provider.id
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.archive }}" method="post" accept-charset="utf-8" novalidate>

      <p class="govuk-body">
        After archiving the provider, you will not be able to make changes to it.
      </p>

      <p class="govuk-body">
        You can restore the provider at any time.
      </p>

      {{ govukButton({
        text: "Archive provider"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
