{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Are you sure you want to remove " + provider.operating_name + "?" %}
{% set caption = "Remove provider" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers/" + provider.id
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    </h1>

    <form action="/providers/{{ provider.id }}/delete" method="post" accept-charset="utf-8" novalidate>

      {{ govukButton({
        text: "Remove provider",
        classes: "govuk-button--warning"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/providers/{{ provider.id }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
