{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Provider details" %}

{% if currentProvider %}
  {% set caption = currentProvider.operatingName %}
{% else %}
  {% set caption = "Add provider" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      {% include "_includes/page-heading-legend.njk" %}
    {% endset %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% call govukFieldset({
        legend: {
          html: headingHtml,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

        {{ govukInput({
          id: "operatingName",
          name: "provider[operatingName]",
          label: {
            text: "Operating name",
            classes: "govuk-label--s"
          },
          hint: {
            text: "The name the provider uses in public facing activities"
          },
          errorMessage: errors | getErrorMessage("operatingName"),
          value: provider.operatingName
        }) }}

        {{ govukInput({
          id: "legalName",
          name: "provider[legalName]",
          label: {
            text: "Legal name" + (" (optional)" if provider.type == "school"),
            classes: "govuk-label--s"
          },
          hint: {
            text: "The name the provider uses in official activities"
          },
          errorMessage: errors | getErrorMessage("legalName"),
          value: provider.legalName
        }) }}

        {{ govukInput({
          id: "ukprn",
          name: "provider[ukprn]",
          label: {
            text: "UK provider reference number (UKPRN)",
            classes: "govuk-label--s"
          },
          hint: {
            text: "A unique 8 digit number allocated to providers by the UK register of learning providers"
          },
          errorMessage: errors | getErrorMessage("ukprn"),
          value: provider.ukprn,
          classes: "govuk-!-width-one-quarter",
            formGroup: {
              classes: "govuk-!-margin-bottom-4"
            }
        }) }}

        <p class="govuk-body">
          Find UKPRNs on the <a href="https://ukrlp.co.uk/" class="govuk-link" target="_blank">UK register of learning providers (opens in new tab)</a>
        </p>

        {{ govukInput({
          id: "urn",
          name: "provider[urn]",
          label: {
            text: "Unique reference number (URN)" + (" (optional)" if provider.type in ["hei","other"]),
            classes: "govuk-label--s"
          },
          hint: {
            text: "A unique 5 or 6 digit number used by the UK government to identify educational establishments in the United Kingdom"
          },
          errorMessage: errors | getErrorMessage("urn"),
          value: provider.urn,
          classes: "govuk-!-width-one-quarter",
          formGroup: {
            classes: "govuk-!-margin-bottom-4"
          }
        }) }}

        <p class="govuk-body">
          Find URNs on the <a href="https://get-information-schools.service.gov.uk/" class="govuk-link" target="_blank">Get information about schools (opens in new tab)</a>.
        </p>

        {{ govukInput({
          id: "code",
          name: "provider[code]",
          label: {
            text: "Provider code",
            classes: "govuk-label--s"
          },
          hint: {
            text: "A unique 3 digit alphanumeric code assigned by DfE to providers"
          },
          errorMessage: errors | getErrorMessage("code"),
          value: provider.code,
          classes: "govuk-!-width-one-quarter"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      {% endcall %}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
