{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Providers (" + pagination.totalCount | numeral("0,0") + ")" %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {{ govukButton({
      text: "Add provider",
      href: actions.new
    }) }}

  </div>
</div>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    {% include "./_filter-panel.njk" %}
  </div>

  <div class="app-filter-layout__content">

    <div class="app-action-bar">
      <div class="app-action-bar__filter"></div>
    </div>

    {% include "./_search-panel.njk" %}

    {% if providers.length %}


      {% for provider in providers %}

        {% set operatingNameHtml %}
          <a href="{{ actions.view }}/{{ provider.id }}" class="govuk-link">
            {{ provider.operatingName }}
          </a>
          {% if provider.archivedAt %}
            {{ govukTag({
              text: "Archived",
              classes: "govuk-!-margin-left-1"
            }) }}
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              html: operatingNameHtml
            }
          },
          rows: [
            {
              key: {
                text: "Provider type"
              },
              value: {
                text: provider.type | getProviderTypeLabel(provider.isAccredited) if provider.type.length else "Not entered",
                classes: "govuk-hint" if not provider.type.length
              }
            },
            {
              key: {
                text: "Accreditation status"
              },
              value: {
                text: "Accredited" if provider.isAccredited else "Not accredited"
              }
            },
            {
              key: {
                text: "Operating name"
              },
              value: {
                text: provider.operatingName
              }
            },
            {
              key: {
                text: "Legal name"
              },
              value: {
                text: provider.legalName if provider.legalName.length else "Not entered",
                classes: "govuk-hint" if not provider.legalName.length
              }
            },
            {
              key: {
                text: "UK provider reference number (UKPRN)"
              },
              value: {
                text: provider.ukprn
              }
            },
            {
              key: {
                text: "Unique reference number (URN)"
              },
              value: {
                text: provider.urn if provider.urn.length else "Not entered",
                classes: "govuk-hint" if not provider.urn.length
              }
            },
            {
              key: {
                text: "Provider code"
              },
              value: {
                text: provider.code
              }
            }
          ]
        }) }}

      {% endfor %}

      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">There are no providers.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
