{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = provider.operatingName %}
{% set caption = "Providers" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    </h1>

    <p class="govuk-body">
      <a href="/providers/{{ provider.id }}/delete" class="govuk-link">Remove provider</a>
    </p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Provider type"
          },
          value: {
            text: provider.type | getProviderTypeLabel if provider.type.length else "Not entered",
            classes: "govuk-hint" if not provider.type.length
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.id + "/edit",
                text: "Change",
                visuallyHiddenText: "type"
              }
            ]
          } if 1==0
        },
        {
          key: {
            text: "Operating name"
          },
          value: {
            text: provider.operatingName
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.id + "/edit",
                text: "Change",
                visuallyHiddenText: "operating name"
              }
            ]
          }
        },
        {
          key: {
            text: "Legal name"
          },
          value: {
            text: provider.legalName if provider.legalName.length else "Not entered",
            classes: "govuk-hint" if not provider.legalName.length
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.id + "/edit",
                text: "Change",
                visuallyHiddenText: "legal name"
              }
            ]
          }
        },
        {
          key: {
            text: "UK provider reference number (UKPRN)"
          },
          value: {
            text: provider.ukprn
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.id + "/edit",
                text: "Change",
                visuallyHiddenText: "UK provider reference number (UKPRN)"
              }
            ]
          }
        },
        {
          key: {
            text: "Unique reference number (URN)"
          },
          value: {
            text: provider.urn if provider.urn.length else "Not entered",
            classes: "govuk-hint" if not provider.urn.length
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.id + "/edit",
                text: "Change",
                visuallyHiddenText: "Unique reference number (URN)"
              }
            ]
          }
        } if provider.type == "school",
        {
          key: {
            text: "Provider code"
          },
          value: {
            text: provider.code
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.id + "/edit",
                text: "Change",
                visuallyHiddenText: "provider code"
              }
            ]
          }
        }
      ]
    }) }}

    {% if provider.type in ["hei","scitt"] %}
      {% include "./_accreditations.njk" %}
    {% endif %}

    {% include "./_addresses.njk" %}

    {% include "./_contacts.njk" %}

  </div>
</div>

{% endblock %}
