{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Are you sure you want to remove " + provider.operatingName + "’s accreditation?" %}
{% set caption = "Remove accreditation" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    </h1>

    <form action="{{ actions.delete }}" method="post" accept-charset="utf-8" novalidate>

      {# TODO: Show address being deleted #}

      {{ govukButton({
        text: "Remove accreditation",
        classes: "govuk-button--warning"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
