.app-list--dash {
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &:before {
      color: govuk-colour("black", $variant: "tint-25");
      content: "\2013";
      left: -16px;
      position: absolute;
      top: 0;
    }
  }
}

.app-list--inline {
  display: block;

  & li {
    display: inline-block;
    margin-top: 0;
    margin-right: govuk-spacing(2);
  }
}
