{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if currentAddress %}
  {% set caption = provider.operatingName %}
{% else %}
  {% set caption = "Add address - " + provider.operatingName %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address line 1"
            },
            value: {
              text: address.line1
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "address line 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Address line 2"
            },
            value: {
              text: address.line2
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "address line 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Address line 3"
            },
            value: {
              text: address.line3
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "address line 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Town or city"
            },
            value: {
              text: address.town
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "town"
                }
              ]
            }
          },
          {
            key: {
              text: "County"
            },
            value: {
              text: address.county
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "county"
                }
              ]
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: address.postcode
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "postcode"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Geolocation</h2>

      {% if address.latitude and address.longitude %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Latitude"
              },
              value: {
                text: address.latitude
              }
            },
            {
              key: {
                text: "Longitude"
              },
              value: {
                text: address.longitude
              }
            }
          ]
        }) }}
      {% else %}
        <p class="govuk-body">The address could not be geocoded.</p>
      {% endif %}

      {{ govukButton({
        text: "Save address"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
