{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if currentAddress %}
  {% set caption = provider.operatingName %}
{% else %}
  {% set caption = "Add address - " + provider.operatingName %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% set addressHtml %}
        {% if address.line1.length %}
          {{ address.line1 }}<br>
        {% endif %}
        {% if address.line2.length %}
          {{ address.line2 }}<br>
        {% endif %}
        {% if address.line3.length %}
          {{ address.line3 }}<br>
        {% endif %}
        {% if address.town.length %}
          {{ address.town }}<br>
        {% endif %}
        {% if address.county.length %}
          {{ address.county }}<br>
        {% endif %}
        {% if address.postcode.length %}
          {{ address.postcode }}<br>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              html: ('<p class="govuk-body">' + addressHtml + '</p>') if addressHtml | trim | length else "Not entered",
              classes: "govuk-hint" if not addressHtml | trim | length
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Location</h2>

      {% if address.latitude and address.longitude %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Latitude"
              },
              value: {
                text: address.latitude
              }
            },
            {
              key: {
                text: "Longitude"
              },
              value: {
                text: address.longitude
              }
            }
          ]
        }) }}
      {% else %}
        <p class="govuk-body govuk-!-margin-bottom-7">The address could not be geocoded.</p>
      {% endif %}

      {{ govukButton({
        text: "Save address"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
