{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "addresses" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% if pagination.totalCount %}
  {% set subtitle = "Addresses (" + pagination.totalCount | numeral("0,0") + ")" %}
{% else %}
  {% set subtitle = "Addresses" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% set headingClasses = "govuk-!-margin-bottom-2" %}
{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if not provider.archivedAt %}
      {{ govukButton({
        text: "Add address",
        href: actions.new
      }) }}
    {% endif %}

    {% if addresses.length %}
      {% for address in addresses %}

        {% set addressHtml %}
          {% if address.line1.length %}
            {{ address.line1 }}<br>
          {% endif %}
          {% if address.line2.length %}
            {{ address.line2 }}<br>
          {% endif %}
          {% if address.line3.length %}
            {{ address.line3 }}<br>
          {% endif %}
          {% if address.town.length %}
            {{ address.town }}<br>
          {% endif %}
          {% if address.county.length %}
            {{ address.county }}<br>
          {% endif %}
          {% if address.postcode.length %}
            {{ address.postcode }}<br>
          {% endif %}
        {% endset %}

        {% set locationHtml %}
          {% if address.latitude and address.longitude %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Latitude"
                  },
                  value: {
                    text: address.latitude
                  }
                },
                {
                  key: {
                    text: "Longitude"
                  },
                  value: {
                    text: address.longitude
                  }
                }
              ]
            }) }}
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              text: address.town + ", " + address.postcode | upper
            },
            actions: {
              items: [
                {
                  href: actions.change + "/" + address.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "address " + loop.index
                },
                {
                  href: actions.delete + "/" + address.id + "/delete",
                  text: "Delete",
                  visuallyHiddenText: "address " + loop.index
                }
              ]
            } if not provider.archivedAt
          },
          rows: [
            {
              key: {
                text: "Address"
              },
              value: {
                html: ('<p class="govuk-body">' + addressHtml + '</p>') if addressHtml | trim | length else "Not entered",
                classes: "govuk-hint" if not addressHtml | trim | length
              }
            },
            {
              key: {
                text: "Location"
              },
              value: {
                html: ('<p class="govuk-body">' + locationHtml + '</p>') if locationHtml | trim | length else "Not available",
                classes: "govuk-hint" if not locationHtml | trim | length
              }
            }
          ]
        }) }}
      {% endfor %}
      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">
        There are no addresses for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
