{% set isPartnershipDeleted = false %}
{% for field in item.summary.fields %}
  {% if field.key == "Linked accreditations" and field.value == "None" %}
    {% set isPartnershipDeleted = true %}
  {% endif %}
{% endfor %}

<h3 class="govuk-summary-card__title">
  {{ item.summary.activity }}
</h3>
<p class="govuk-body">
  By {{ item.changedByUser.firstName + " " + item.changedByUser.lastName }} on {{ item.changedAt | govukDateTime }}
</p>
<div class="govuk-summary-card">
  {% if showSummaryCardTitle %}
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        {% if item.summary.labelHtml | length %}
          {{ item.summary.labelHtml | safe }}
        {% elif item.summary.href | length %}
          <a href="{{ item.summary.href }}" class="govuk-link">
            {{ item.summary.label }}
          </a>
        {% else %}
          {{ item.summary.label }}
        {% endif %}
      </h2>
    </div>
  {% endif %}
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      {% for field in item.summary.fields %}
        {# {% if isPartnershipDeleted %} #}
          {% if field.key in ["Accredited provider", "Training partner"] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ field.key }}
              </dt>
              <dd class="govuk-summary-list__value {{- ' govuk-hint' if not field.value }}">
                {{ field.value if field.value else "Not entered" }}
              </dd>
            </div>
          {% endif %}
        {# {% else %}
          {% if not field.key in ["Accreditations added", "Accreditations removed"] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ field.key }}
              </dt>
              <dd class="govuk-summary-list__value {{- ' govuk-hint' if not field.value }}">
                {{ field.value if field.value else "Not entered" }}
              </dd>
            </div>
          {% endif %}
        {% endif %} #}
      {% endfor %}
      {% if item.summary.linkedAccreditations | length %}
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Linked accreditations</div>
          <div class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for accreditation in item.summary.linkedAccreditations %}
                <li>
                  {{ accreditation.number }}<br>
                  <span class="govuk-hint">Starts on {{ accreditation.startsOn | govukDate -}}
                  {% if accreditation.endsOn %}, ends on {{ accreditation.endsOn | govukDate }}{% endif %}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </dl>
  </div>
</div>
