<h3 class="govuk-summary-card__title">
  {{ item.summary.activity }}
</h3>
<p class="govuk-body">
  By {{ item.changedByUser.firstName + " " + item.changedByUser.lastName }} on {{ item.changedAt | govukDateTime }}
</p>
<div class="govuk-summary-card">
  {% if showSummaryCardTitle %}
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        {% if item.summary.labelHtml | length %}
          {{ item.summary.labelHtml | safe }}
        {% elif item.summary.href | length %}
          <a href="{{ item.summary.href }}" class="govuk-link">
            {{ item.summary.label }}
          </a>
        {% else %}
          {{ item.summary.label }}
        {% endif %}
      </h2>
    </div>
  {% endif %}
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      {% for field in item.summary.fields %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ field.key }}
          </dt>
          <dd class="govuk-summary-list__value {{- ' govuk-hint' if not field.value }}">
            {{ field.value if field.value else "Not entered" }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  </div>
</div>
