{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "users" %}

{% block pageTitle -%}
  View user - {{ provider.operatingName }} - {{ serviceName }} - GOV.UK
{%- endblock %}

{% set title = user.firstName + " " + user.lastName %}
{% if isSupportUser %}
  {% set caption = "User - " + provider.operatingName %}
{% else %}
  {% set caption = "User" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingClasses = "govuk-!-margin-bottom-2" %}
    {% include "_includes/page-heading.njk" %}

    <p class="govuk-hint govuk-!-font-size-16">
      {% if user.lastSignedInAt %}
        Last signed in on {{ user.lastSignedInAt | govukDateTime }}
      {% else %}
        User has never signed in
      {% endif %}
    </p>

    {% set canManageUsers = isSupportUser or (isProviderUser and providerUserRole == "admin") %}

    {% if canManageUsers and showDeleteLink %}
      <p class="govuk-body">
        <a href="{{ actions.delete }}" class="govuk-link">Delete user</a>
      </p>
    {% endif %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: user.firstName
          },
          actions: {
            items: [
              {
                href: actions.change,
                text: "Change",
                visuallyHiddenText: "first name"
              }
            ]
          } if canManageUsers and showChangeLink
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: user.lastName
          },
          actions: {
            items: [
              {
                href: actions.change,
                text: "Change",
                visuallyHiddenText: "last name"
              }
            ]
          } if canManageUsers and showChangeLink
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: user.email
          },
          actions: {
            items: [
              {
                href: actions.change,
                text: "Change",
                visuallyHiddenText: "email"
              }
            ]
          } if canManageUsers and showChangeLink
        },
        {
          key: {
            text: "Role"
          },
          value: {
            text: "Admin" if user.role === "admin" else "User"
          },
          actions: {
            items: [
              {
                href: actions.change,
                text: "Change",
                visuallyHiddenText: "role"
              }
            ]
          } if canManageUsers and showStatusChangeLink
        },
        {
          key: {
            text: "Is the account active?"
          },
          value: {
            text: "Yes" if user.isActive else "No"
          },
          actions: {
            items: [
              {
                href: actions.change,
                text: "Change",
                visuallyHiddenText: "account active status"
              }
            ]
          } if canManageUsers and showStatusChangeLink
        }
      ]
    }) }}

    {% if isSupportUser %}
      <h2 class="govuk-heading-m govuk-!-margin-top-7">Related providers</h2>

      {% if relatedProviders.length %}
        <ul class="govuk-list govuk-list--spaced">
          {% for relatedProvider in relatedProviders %}
            <li>
              <a class="govuk-link" href="{{ providerListUrl }}/{{ relatedProvider.id }}/users/{{ user.id }}">
                {{ relatedProvider.operatingName }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body">There are no related providers for {{ user.firstName }} {{ user.lastName }}.</p>
      {% endif %}
    {% endif %}

  </div>
</div>

{% endblock %}
