{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}
{% set caption = "Add provider" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Provider type"
            },
            value: {
              text: provider.type | getProviderTypeLabel(provider.isAccredited)
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "provider type"
                }
              ]
            }
          },
          {
            key: {
              text: "Operating name"
            },
            value: {
              text: provider.operatingName
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legal name"
            },
            value: {
              text: provider.legalName if provider.legalName else "Not entered",
              classes: "govuk-hint" if not provider.legalName.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "legal name"
                }
              ]
            }
          },
          {
            key: {
              text: "UK provider reference number (UKPRN)"
            },
            value: {
              text: provider.ukprn if provider.ukprn.length else "Not entered",
              classes: "govuk-hint" if not provider.ukprn.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "UK provider reference number (UKPRN)"
                }
              ]
            }
          },
          {
            key: {
              text: "Unique reference number (URN)"
            },
            value: {
              text: provider.urn if provider.urn.length else "Not entered",
              classes: "govuk-hint" if not provider.urn.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "unique reference number (URN)"
                }
              ]
            }
          },
          {
            key: {
              text: "Provider code"
            },
            value: {
              text: provider.code
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "provider code"
                }
              ]
            }
          }
        ]
      }) }}

      {% if provider.isAccredited == "yes" %}
        <h2 class="govuk-heading-m govuk-!-margin-top-7">Accreditation</h2>

        {% set accreditationDatesHtml %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Starts on"
                },
                value: {
                  text: provider.accreditation.startsOn | isoDateFromDateInput | govukDate
                }
              },
              {
                key: {
                  text: "Ends on"
                },
                value: {
                  text: provider.accreditation.endsOn | isoDateFromDateInput | govukDate if provider.accreditation.endsOn | isoDateFromDateInput != "Invalid DateTime" else "Not entered",
                  classes: "govuk-hint" if provider.accreditation.endsOn | isoDateFromDateInput == "Invalid DateTime"
                },
                classes: "govuk-summary-list__row--no-border"
              }
            ]
          }) }}
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Accredited provider number"
              },
              value: {
                text: provider.accreditation.number
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "accredited provider number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Accreditation dates"
              },
              value: {
                html: accreditationDatesHtml
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "accreditation dates"
                  }
                ]
              }
            }
          ]
        }) }}
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Address</h2>

      {% set addressHtml %}
        {% if address.line1.length %}
          {{ address.line1 }}<br>
        {% endif %}
        {% if address.line2.length %}
          {{ address.line2 }}<br>
        {% endif %}
        {% if address.line3.length %}
          {{ address.line3 }}<br>
        {% endif %}
        {% if address.town.length %}
          {{ address.town }}<br>
        {% endif %}
        {% if address.county.length %}
          {{ address.county }}<br>
        {% endif %}
        {% if address.postcode.length %}
          {{ address.postcode }}<br>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              html: ('<p class="govuk-body">' + addressHtml + '</p>') if addressHtml | trim | length else "Not entered",
              classes: "govuk-hint" if not addressHtml | trim | length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Location</h3>

      {% if address.latitude and address.longitude %}
        <p class="govuk-body">
          We collect location data to support location-based searches. It’s generated automatically from the address you entered. {# If it’s missing or incorrect, update the address to regenerate it. #}
        </p>
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-7",
          rows: [
            {
              key: {
                text: "Latitude"
              },
              value: {
                text: address.latitude
              }
            },
            {
              key: {
                text: "Longitude"
              },
              value: {
                text: address.longitude
              }
            }
          ]
        }) }}
      {% else %}
        <p class="govuk-body govuk-!-margin-bottom-7">We could not generate location data for this address. We will try again later.</p>
      {% endif %}

      {{ govukButton({
        text: "Save provider"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
