{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}
{% set caption = "Add provider" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Provider type"
            },
            value: {
              text: provider.type | getProviderTypeLabel(provider.isAccredited)
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "provider type"
                }
              ]
            }
          },
          {
            key: {
              text: "Operating name"
            },
            value: {
              text: provider.operatingName
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legal name"
            },
            value: {
              text: provider.legalName if provider.legalName else "Not entered",
              classes: "govuk-hint" if not provider.legalName.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "legal name"
                }
              ]
            }
          },
          {
            key: {
              text: "UK provider reference number (UKPRN)"
            },
            value: {
              text: provider.ukprn if provider.ukprn.length else "Not entered",
              classes: "govuk-hint" if not provider.ukprn.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "UK provider reference number (UKPRN)"
                }
              ]
            }
          },
          {
            key: {
              text: "Unique reference number (URN)"
            },
            value: {
              text: provider.urn if provider.urn.length else "Not entered",
              classes: "govuk-hint" if not provider.urn.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "unique reference number (URN)"
                }
              ]
            }
          },
          {
            key: {
              text: "Provider code"
            },
            value: {
              text: provider.code
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "provider code"
                }
              ]
            }
          }
        ]
      }) }}

      {% if provider.isAccredited == "yes" %}
        <h2 class="govuk-heading-m govuk-!-margin-top-7">Accreditation</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Accredited provider number"
              },
              value: {
                text: provider.accreditation.number
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "accredited provider number"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date accreditation starts"
              },
              value: {
                text: provider.accreditation.startsOn | isoDateFromDateInput | govukDate
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date accreditation starts"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date accreditation ends"
              },
              value: {
                text: provider.accreditation.endsOn | isoDateFromDateInput | govukDate if provider.accreditation.endsOn | isoDateFromDateInput != "Invalid DateTime" else "Not entered",
                classes: "govuk-hint" if provider.accreditation.endsOn | isoDateFromDateInput == "Invalid DateTime"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date accreditation ends"
                  }
                ]
              }
            }
          ]
        }) }}
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Address</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address line 1"
            },
            value: {
              text: address.line1
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address line 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Address line 2"
            },
            value: {
              text: address.line2
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address line 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Address line 3"
            },
            value: {
              text: address.line3
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address line 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Town or city"
            },
            value: {
              text: address.town
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "town"
                }
              ]
            }
          },
          {
            key: {
              text: "County"
            },
            value: {
              text: address.county
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "county"
                }
              ]
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: address.postcode
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "postcode"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Geolocation</h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Latitude"
            },
            value: {
              text: address.latitude
            }
          },
          {
            key: {
              text: "Longitude"
            },
            value: {
              text: address.longitude
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save provider"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
