{{ govukInput({
  id: "address-line-1",
  name: "provider[address][line1]",
  label: {
    text: "Address line 1",
    classes: "govuk-label--s"
  },
  autocomplete: "address-line1",
  errorMessage: errors | getErrorMessage("address-line-1"),
  value: provider.address.line1
}) }}

{{ govukInput({
  id: "address-line-2",
  name: "provider[address][line2]",
  label: {
    text: "Address line 2 (optional)",
    classes: "govuk-label--s"
  },
  autocomplete: "address-line2",
  errorMessage: errors | getErrorMessage("address-line-2"),
  value: provider.address.line2
}) }}

{{ govukInput({
  id: "address-line-3",
  name: "provider[address][line3]",
  label: {
    text: "Address line 3 (optional)",
    classes: "govuk-label--s"
  },
  autocomplete: "address-line3",
  errorMessage: errors | getErrorMessage("address-line-3"),
  value: provider.address.line3
}) }}

{{ govukInput({
  id: "address-town",
  name: "provider[address][town]",
  label: {
    text: "Town or city",
    classes: "govuk-label--s"
  },
  classes: "govuk-!-width-two-thirds",
  autocomplete: "address-level2",
  errorMessage: errors | getErrorMessage("address-town"),
  value: provider.address.town
}) }}

{{ govukInput({
  id: "address-county",
  name: "provider[address][county]",
  label: {
    text: "County (optional)",
    classes: "govuk-label--s"
  },
  classes: "govuk-!-width-two-thirds",
  errorMessage: errors | getErrorMessage("address-county"),
  value: provider.address.county
}) }}

{{ govukInput({
  id: "address-postcode",
  name: "provider[address][postcode]",
  label: {
    text: "Postcode",
    classes: "govuk-label--s"
  },
  classes: "govuk-input--width-10",
  autocomplete: "postal-code",
  errorMessage: errors | getErrorMessage("address-postcode"),
  value: provider.address.postcode
}) }}
