{{ govukFooter({
  rebrand: true,
  meta: {
    items: [
    {
      href: "/accessibility",
      text: "Accessibility"
    },
    {
      href: "/cookies",
      text: "Cookies"
    },
    {
      href: "/privacy",
      text: "Privacy notice"
    },
    {
      href: "/api-docs",
      text: "API documentation"
    }] if not hideFooterLinks
  }
}) }}
