<h1 class="govuk-heading-l {{ headingClasses if headingClasses | length }}">
  {% if caption.length %}
    <span class="govuk-caption-l {{ captionClasses if captionClasses | length }}">
      {{ caption }}
    </span>
  {% endif %}
  {{ title }}
  {% if headingTag.length %}
    {{ headingTag | safe }}
  {% endif %}
</h1>
