{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if currentAddress %}
  {% set caption = provider.operatingName %}
{% else %}
  {% set caption = "Add address - " + provider.operatingName %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    </h1>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address line 1"
            },
            value: {
              text: address.line1
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address line 2"
            },
            value: {
              text: address.line2
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address line 3"
            },
            value: {
              text: address.line3
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "Town"
            },
            value: {
              text: address.town
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "County"
            },
            value: {
              text: address.county
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: address.postcode
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "operating name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save address"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
