{% extends "layouts/main.njk" %}

{% set primaryNavId = "activity" %}

{% set title = "Activity log" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {% if activityItems.length %}

      {% for group in activityItems %}

        <h2 class="govuk-heading-m">{{ group.label }}</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% for item in group.entries %}
          {% set showSummaryCardTitle = true %}
          {% if item.revisionTable == "provider_partnership_revisions" %}
            {% include "_includes/activity/provider-partnership-revisions.njk" %}
          {% elif item.revisionTable == "provider_address_revisions" %}
            {% include "_includes/activity/provider-address-revisions.njk" %}
          {% else %}
            {% include "_includes/activity/provider-revisions.njk" %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% include "_includes/pagination.njk" %}

    {% else %}
      <p class="govuk-body">
        There is no activity.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
