{% extends "layouts/auth.njk" %}

{% set hideAccountNavigation = true %}

{% set title = "Sign in" %}

{% block pageTitle %}
  {{ "Error: " if errors | length }}{{ title + " - " if title }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">Choose a persona to sign in to the Register of placement schools service.</p>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% if supportPersonas | length %}
        <h2 class="govuk-heading-m">Support users</h2>

        {{ govukRadios({
          idPrefix: "support-persona",
          name: "persona",
          fieldset: {
            legend: {
              text: "Support users",
              classes: "govuk-visually-hidden"
            }
          },
          errorMessage: errors | getErrorMessage("persona"),
          items: supportPersonas
        }) }}
      {% endif %}

      {% if providerPersonas | length %}
        <h2 class="govuk-heading-m">Provider users</h2>

        {{ govukRadios({
          idPrefix: "provider-persona",
          name: "persona",
          fieldset: {
            legend: {
              text: "Provider users",
              classes: "govuk-visually-hidden"
            }
          },
          errorMessage: errors | getErrorMessage("persona"),
          items: providerPersonas
        }) }}
      {% endif %}

      {{ govukButton({
        text: "Sign in"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
