{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Partnerships" %}
{% set caption = provider.operatingName %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {{ govukButton({
      text: "Add partnership",
      href: "#"
    }) }}

    {% if partnerships.length %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Operating name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Legal name</th>
            <th scope="col" class="govuk-table__header">UK provider reference number (UKPRN)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for partnership in partnerships %}
            {% if isAccredited %}
              {% set providerId = partnership.trainingProvider.id %}
              {% set operatingName = partnership.trainingProvider.operatingName %}
              {% set legalName = partnership.trainingProvider.legalName %}
              {% set ukprn = partnership.trainingProvider.ukprn %}
            {% else %}
              {% set providerId = partnership.accreditedProvider.id %}
              {% set operatingName = partnership.accreditedProvider.operatingName %}
              {% set legalName = partnership.accreditedProvider.legalName %}
              {% set ukprn = partnership.accreditedProvider.ukprn %}
            {% endif %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/providers/{{ providerId }}">
                  {{ operatingName }}
                </a>
              </td>
              <td class="govuk-table__cell {{- ' govuk-hint' if not provider.legalName.length}}">
                {{ legalName if legalName.length else "Not entered" }}
              </td>
              <td class="govuk-table__cell">
                {{ ukprn if ukprn else "Not entered" }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">There are no partnerships.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
