{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if currentContact %}
  {% set caption = provider.operatingName %}
{% else %}
  {% set caption = "Add contact - " + provider.operatingName %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: contact.firstName
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "first name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: contact.lastName
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "last name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: contact.email if contact.email.length else "Not entered",
              classes: "govuk-hint" if not contact.email.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: contact.telephone if contact.telephone.length else "Not entered",
              classes: "govuk-hint" if not contact.telephone.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "telephone"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save contact"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
