{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Confirm you want to remove " + provider.operatingName + "’s contact" %}
{% set caption = "Remove contact" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.delete }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: contact.firstName
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: contact.lastName
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: contact.email if contact.email.length else "Not entered",
              classes: "govuk-hint" if not contact.email.length
            }
          },
          {
            key: {
              text: "Telephone"
            },
            value: {
              text: contact.telephone if contact.telephone.length else "Not entered",
              classes: "govuk-hint" if not contact.telephone.length
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Remove contact",
        classes: "govuk-button--warning"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
