{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "contacts" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Contacts</h2>

    {% if not provider.archivedAt %}
      {{ govukButton({
        text: "Add contact",
        href: actions.new
      }) }}
    {% endif %}

    {% if contacts.length %}
      {% for contact in contacts %}
        {{ govukSummaryList({
          card: {
            title: {
              text: contact.firstName + " " + contact.lastName
            },
            actions: {
              items: [
                {
                  href: actions.delete + "/" + contact.id + "/delete",
                  text: "Remove",
                  visuallyHiddenText: "contact " + loop.index
                },
                {
                  href: actions.change + "/" + contact.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "contact " + loop.index
                }
              ]
            } if not provider.archivedAt
          },
          rows: [
            {
              key: {
                text: "First name"
              },
              value: {
                text: contact.firstName
              }
            },
            {
              key: {
                text: "Last name"
              },
              value: {
                text: contact.lastName
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: contact.email if contact.email.length else "Not entered",
                classes: "govuk-hint" if not contact.email.length
              }
            },
            {
              key: {
                text: "Telephone"
              },
              value: {
                text: contact.telephone if contact.telephone.length else "Not entered",
                classes: "govuk-hint" if not contact.telephone.length
              }
            }
          ]
        }) }}
      {% endfor %}
    {% else %}
      <p class="govuk-body">
        There are no contacts for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
