{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Check your answers" %}

{% if currentAccreditation %}
  {% set caption = provider.operatingName %}
{% else %}
  {% set caption = "Add accreditation - " + provider.operatingName %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% set accreditationDatesHtml %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Starts on"
              },
              value: {
                text: accreditation.startsOn | isoDateFromDateInput | govukDate
              }
            },
            {
              key: {
                text: "Ends on"
              },
              value: {
                text: accreditation.endsOn | isoDateFromDateInput | govukDate if accreditation.endsOn else "Not entered",
                classes: "govuk-hint" if not accreditation.endsOn
              },
              classes: "govuk-summary-list__row--no-border"
            }
          ]
        }) }}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Accredited provider number"
            },
            value: {
              text: accreditation.number
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check",
                  text: "Change",
                  visuallyHiddenText: "accredited provider number"
                }
              ]
            }
          },
          {
            key: {
              text: "Accreditation dates"
            },
            value: {
              html: accreditationDatesHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "?referrer=check#accreditation-dates",
                  text: "Change",
                  visuallyHiddenText: "accreditation dates"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save accreditation"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
