{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Confirm you want to delete " + provider.operatingName + "’s accreditation" %}
{% set caption = "Delete accreditation" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Accredited provider number"
            },
            value: {
              text: accreditation.number
            }
          },
          {
            key: {
              text: "Date accreditation starts"
            },
            value: {
              text: accreditation.startsOn | govukDate
            }
          },
          {
            key: {
              text: "Date accreditation ends"
            },
            value: {
              text: accreditation.endsOn | govukDate if accreditation.endsOn else "Not entered",
              classes: "govuk-hint" if not accreditation.endsOn
            }
          }
        ]
      }) }}

      {{ govukWarningText({
        text: "Deleting an accreditation is permanent – you cannot undo it.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Delete accreditation",
        classes: "govuk-button--warning"
      }) }}

    </form>


    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
