{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% if hasPartnerships %}
  {% set title = "You cannot delete this accreditation" %}
{% else %}
  {% set title = "Confirm you want to delete " + provider.operatingName + "’s accreditation" %}
{% endif %}

{% set caption = "Delete accreditation" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {% if hasPartnerships %}
      <p class="govuk-body">
        You cannot delete this accreditation because it is linked to 1 or more partnerships.
      </p>
      <p class="govuk-body">
        To delete this accreditation, you must first remove the accreditation from those partnerships.
      </p>
    {% else %}
      <form action="{{ actions.delete }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Accredited provider number"
              },
              value: {
                text: accreditation.number
              }
            },
            {
              key: {
                text: "Date accreditation starts"
              },
              value: {
                text: accreditation.startsOn | govukDate
              }
            },
            {
              key: {
                text: "Date accreditation ends"
              },
              value: {
                text: accreditation.endsOn | govukDate if accreditation.endsOn else "Not entered",
                classes: "govuk-hint" if not accreditation.endsOn
              }
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "Deleting an accreditation is permanent – you cannot undo it.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Delete accreditation",
          classes: "govuk-button--warning"
        }) }}

      </form>
    {% endif %}


    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
