{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}

{% set title = "Accreditation details" %}

{% if currentAccreditation %}
  {% set caption = provider.operatingName %}
{% else %}
  {% set caption = "Add accreditation - " + provider.operatingName %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      {% include "_includes/page-heading-legend.njk" %}
    {% endset %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>
      {% set startsOnValues = startsOn or {} %}
      {% set startsOnErrors = startsOnFieldErrors or {} %}
      {% set endsOnValues = endsOn or {} %}
      {% set endsOnErrors = endsOnFieldErrors or {} %}

      {% call govukFieldset({
        legend: {
          html: headingHtml,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

        {{ govukInput({
          id: "number",
          name: "accreditation[number]",
          label: {
            text: "Accredited provider number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "A unique 4 digit code starting with " + ("‘1’" if provider.type == "hei" else "‘5’") + " assigned by DfE to accredited providers, for example " + ("1234" if provider.type == "hei" else "5678")
          },
          errorMessage: errors | getErrorMessage("number"),
          value: accreditation.number,
          classes: "govuk-input--width-4"
        }) }}

        <h2 id="accreditation-dates" class="govuk-heading-m">Accreditation dates</h2>

        {{ govukDateInput({
          id: "startsOn",
          fieldset: {
            legend: {
              text: "Accreditation start date",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 1 8 2024"
          },
          items: [
            {
              id: "startsOn-day",
              name: "accreditation[startsOn][day]",
              label: "Day",
              value: startsOnValues.day,
              classes: "govuk-input--width-2" + (" govuk-input--error" if startsOnErrors.day)
            },
            {
              id: "startsOn-month",
              name: "accreditation[startsOn][month]",
              label: "Month",
              value: startsOnValues.month,
              classes: "govuk-input--width-2" + (" govuk-input--error" if startsOnErrors.month)
            },
            {
              id: "startsOn-year",
              name: "accreditation[startsOn][year]",
              label: "Year",
              value: startsOnValues.year,
              classes: "govuk-input--width-4" + (" govuk-input--error" if startsOnErrors.year)
            }
          ],
          errorMessage: errors | getErrorMessage("startsOn")
        }) }}

        {{ govukDetails({
          summaryText: "I do not know the start date",
          text: "If you do not know the start date, use today’s date, or the date the academic year starts, for example, 1 August 2024."
        }) }}

        {{ govukDateInput({
          id: "endsOn",
          fieldset: {
            legend: {
              text: "Accreditation end date (optional)",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 7 2026"
          },
          items: [
            {
              id: "endsOn-day",
              name: "accreditation[endsOn][day]",
              label: "Day",
              value: endsOnValues.day,
              classes: "govuk-input--width-2" + (" govuk-input--error" if endsOnErrors.day)
            },
            {
              id: "endsOn-month",
              name: "accreditation[endsOn][month]",
              label: "Month",
              value: endsOnValues.month,
              classes: "govuk-input--width-2" + (" govuk-input--error" if endsOnErrors.month)
            },
            {
              id: "endsOn-year",
              name: "accreditation[endsOn][year]",
              label: "Year",
              value: endsOnValues.year,
              classes: "govuk-input--width-4" + (" govuk-input--error" if endsOnErrors.year)
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      {% endcall %}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
