{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "accreditations" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% if pagination.totalCount %}
  {% set subtitle = "Accreditations (" + pagination.totalCount + ")" %}
{% else %}
  {% set subtitle = "Accreditations" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if not provider.archivedAt %}
      {{ govukButton({
        text: "Add Accreditation",
        href: actions.new
      }) }}
    {% endif %}

    {% if accreditations.length %}
      {% for accreditation in accreditations %}
        {{ govukSummaryList({
          card: {
            title: {
              text: "Accreditation " + accreditation.number
            },
            actions: {
              items: [
                {
                  href: actions.delete + "/" + accreditation.id + "/delete",
                  text: "Delete",
                  visuallyHiddenText: "accreditation " + loop.index
                },
                {
                  href: actions.change + "/" + accreditation.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "accreditation " + loop.index
                }
              ]
            } if not provider.archivedAt
          },
          rows: [
            {
              key: {
                text: "Accreditation number"
              },
              value: {
                text: accreditation.number
              }
            },
            {
              key: {
                text: "Date accreditation starts"
              },
              value: {
                text: accreditation.startsOn | govukDate
              }
            },
            {
              key: {
                text: "Date accreditation ends"
              },
              value: {
                text: accreditation.endsOn | govukDate if accreditation.endsOn else "Not entered",
                classes: "govuk-hint" if not accreditation.endsOn
              }
            }
          ]
        }) }}
      {% endfor %}
      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">
        There are no accreditations for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
