{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "activity" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{# {% if pagination.totalCount %}
  {% set subtitle = "Activity log (" + pagination.totalCount + ")" %}
{% else %} #}
  {% set subtitle = "Activity log" %}
{# {% endif %} #}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if activityItems.length %}

      {% for item in activityItems %}
        <h2 class="govuk-summary-card__title">
          {{ item.summary.activity }}
        </h2>
        <p class="govuk-body">
          By {{ item.changedByUser.firstName + " " + item.changedByUser.lastName }} on {{ item.changedAt | govukDateTime }}
        </p>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__content">
            {% for field in item.summary.fields %}
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ field.key }}
                  </dt>
                  <dd class="govuk-summary-list__value {{- ' govuk-hint' if not field.value.length }}">
                    {{ field.value if field.value.length else "Not entered" }}
                  </dd>
                </div>
              </dl>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      {% include "_includes/pagination.njk" %}

    {% else %}
      <p class="govuk-body">
        There is no activity for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
