{% extends "layouts/main.njk" %}

{% set primaryNavId = "providers" %}
{% set secondaryNavId = "activity" %}

{% set title = provider.operatingName %}
{% set caption = "Provider" %}

{% if pagination.totalCount %}
  {% set subtitle = "Activity log (" + pagination.totalCount | numeral("0,0") + ")" %}
{% else %}
  {% set subtitle = "Activity log" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

{% set headingClasses = "govuk-!-margin-bottom-2" %}
{% include "../_page-heading.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ subtitle }}</h2>

    {% if activityItems.length %}

      {% for item in activityItems %}
        {% if item.revisionTable == "provider_partnership_revisions" %}
          {% include "_includes/activity/provider-partnership-revisions.njk" %}
        {% elif item.revisionTable == "provider_address_revisions" %}
          {% include "_includes/activity/provider-address-revisions.njk" %}
        {% else %}
          {% include "_includes/activity/provider-revisions.njk" %}
        {% endif %}
      {% endfor %}

      {% include "_includes/pagination.njk" %}

    {% else %}
      <p class="govuk-body">
        There is no activity for {{ provider.operatingName if provider.operatingName else "this provider" }}.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
