{% extends "layouts/main.njk" %}

{% set primaryNavId = "account" %}

{% set hidePrimaryNavigation = false %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Your account" %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        {% if caption.length %}
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
        {% endif %}
        {{ title }}
      </h1>

      <p class="govuk-hint govuk-!-font-size-16">
        Last signed in on {{ user.lastSignedInAt | govukDateTime }}
      </p>

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: user.firstName
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: user.lastName
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: user.email
            }
          }
        ]
      }) }}

      {% if user.type == "support" %}
        <h2 class="govuk-heading-m">Email notifications</h2>

        {% if notificationSummary %}
          {% set changeListHtml %}
            {% if notificationSummary.changeLabels.length %}
              <ul class="govuk-list govuk-list--bullet">
                {% for changeLabel in notificationSummary.changeLabels %}
                  <li>{{ changeLabel }}</li>
                {% endfor %}
              </ul>
            {% else %}
              None
            {% endif %}
          {% endset %}

          {% set changeActions = [] %}
          {% if notificationSummary.changeLabels.length %}
            {% set changeActions = [
              {
                href: "/account/notifications/changes",
                text: "Change",
                visuallyHiddenText: "what changes you want to be notified about"
              }
            ] %}
          {% endif %}

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "How often do you want to get emails?"
                },
                value: {
                  text: notificationSummary.frequencyLabel
                },
                actions: {
                  items: [
                    {
                      href: "/account/notifications",
                      text: "Change",
                      visuallyHiddenText: "how often you want to get emails"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "What changes do you want to be notified about?"
                },
                value: {
                  html: changeListHtml
                },
                actions: {
                  items: changeActions
                } if changeActions.length
              }
            ]
          }) }}
        {% else %}
          <p class="govuk-body">
            <a class="govuk-link" href="/account/notifications">Set up email notifications</a>
          </p>
        {% endif %}
      {% endif %}

    </div>
  </div>

{% endblock %}
