{% extends "layouts/main.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <ul class="govuk-list">
      <li>
        <a href="/users" class="govuk-link">Users</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
