{% extends "layouts/main.njk" %}

{% set primaryNavId = "apiClients" %}
{% set title = "Check your answers" %}
{% set caption = "Add API client" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    </h1>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Client name" },
            value: { text: apiClientToken.clientName },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "client name"
                }
              ]
            }
          },
          {
            key: { text: "Expiry date" },
            value: { text: expiresOn },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "expiry date"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukInsetText({
        text: "An authentication token will be created and shown once on the next page."
      }) }}

      {{ govukButton({
        text: "Create API client token"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
