{% extends "layouts/main.njk" %}

{% set primaryNavId = "apiClients" %}

{% set title = "Client details" %}

{% if currentApiClientToken %}
  {% set caption = currentApiClientToken.clientName %}
  {% set isEdit = true %}
{% else %}
  {% set caption = "Add API client" %}
  {% set isEdit = false %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {# <p class="govuk-body">Add a name for this API client and set an expiry date (maximum 12 months from today).</p> #}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>
      {% set expiresOnValues = apiClientToken.expiresOn or {} %}
      {% set expiresOnErrors = expiresOnFieldErrors or {} %}
      {% if not isEdit %}
        {% set expiryHintExample = expiryHintExample or "5 4 2025" %}
      {% endif %}

      {{ govukInput({
        id: "clientName",
        name: "apiClientToken[clientName]",
        label: {
          text: "Client name",
          classes: "govuk-label--s"
        },
        errorMessage: errors | getErrorMessage("clientName"),
        value: apiClientToken.clientName,
        classes: "govuk-!-width-two-thirds"
      }) }}

      {% if not isEdit %}
        {{ govukDateInput({
          id: "expiresOn",
          fieldset: {
            legend: {
              text: "Expiry date",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Must be within the next 12 months. For example, " + expiryHintExample + "."
          },
          items: [
            {
              id: "expiresOn-day",
              name: "apiClientToken[expiresOn][day]",
              label: "Day",
              value: expiresOnValues.day,
              classes: "govuk-input--width-2" + (" govuk-input--error" if expiresOnErrors.day)
            },
            {
              id: "expiresOn-month",
              name: "apiClientToken[expiresOn][month]",
              label: "Month",
              value: expiresOnValues.month,
              classes: "govuk-input--width-2" + (" govuk-input--error" if expiresOnErrors.month)
            },
            {
              id: "expiresOn-year",
              name: "apiClientToken[expiresOn][year]",
              label: "Year",
              value: expiresOnValues.year,
              classes: "govuk-input--width-4" + (" govuk-input--error" if expiresOnErrors.year)
            }
          ],
          errorMessage: errors | getErrorMessage("expiresOn")
        }) }}
      {% else %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">
          Expiry date
        </p>
        <p class="govuk-body">
          {{ currentApiClientToken.expiresAt | govukDate | default("Not entered") }}
        </p>
      {% endif %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
