{% extends "layouts/main.njk" %}

{% set primaryNavId = "apiClients" %}

{% set title = "API clients (" + pagination.totalCount | numeral("0,0") + ")" %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {{ govukButton({
      text: "Add API client",
      href: actions.new
    }) }}

    {% if apiClientTokens.length %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Client name</th>
            <th scope="col" class="govuk-table__header">Expires on</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for apiClientToken in apiClientTokens %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="{{ actions.view }}/{{ apiClientToken.id }}">
                  {{ apiClientToken.clientName }}
                </a>
              </td>
              <td class="govuk-table__cell">
                {{ apiClientToken.expiresOn | default("Not entered") }}
              </td>
              <td class="govuk-table__cell">
                {% if apiClientToken.status == "active" %}
                  {{ govukTag({
                    text: apiClientToken.status | capitalize,
                    classes: "govuk-tag--turquoise"
                  }) }}
                {% elif apiClientToken.status == "expired" %}
                  {{ govukTag({
                    text: apiClientToken.status | capitalize,
                    classes: "govuk-tag--grey"
                  }) }}
                {% elif apiClientToken.status == "revoked" %}
                  {{ govukTag({
                    text: apiClientToken.status | capitalize,
                    classes: "govuk-tag--orange"
                  }) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">There are no API clients.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
