{% extends "layouts/main.njk" %}

{% set primaryNavId = "api-clients" %}
{% set title = apiClientToken.clientName %}
{% set caption = "API client" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingTag %}
      {% if isRevoked %}
        {{ govukTag({
          text: "Revoked",
          classes: "govuk-tag--red govuk-tag__heading"
        }) }}
      {% endif %}
    {% endset %}

    {% include "_includes/page-heading.njk" %}

    <div class="govuk-button-group">
      {% if actions.revoke %}
        {{ govukButton({
          text: "Revoke API client",
          href: actions.revoke
        }) }}
      {% endif %}

      <a class="govuk-link" href="{{ actions.delete }}">Delete API client</a>
    </div>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Client name" },
          value: { text: apiClientToken.clientName },
          actions: (
            {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "client name"
                }
              ]
            } if actions.change else null
          )
        },
        {
          key: { text: "Expiry date" },
          value: { text: apiClientToken.expiresOn | default("Not entered") },
          actions: (
            {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "expiry date"
                }
              ]
            } if actions.change else null
          )
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
