.govuk-tag__heading {
  position: relative;
  top: -7px;
}

.govuk-service-navigation__wrapper {
  flex-grow: 1;
}

.govuk-summary-list__row--no-border {
  border: 0;
}

.app-service-navigation__align-right {
  @include govuk-media-query($from: tablet) {
    margin-left: auto;
  }
}
