.govuk-tag__heading {
  position: relative;
  top: -7px;
}

.govuk-service-navigation__wrapper {
  flex-grow: 1;
}

.govuk-summary-list__row--no-border {
  border: 0;
}

.autocomplete__option--focused .app-autocomplete__option,
.autocomplete__option--focused .app-autocomplete__option .govuk-hint,
.autocomplete__option:hover .app-autocomplete__option,
.autocomplete__option:hover .app-autocomplete__option .govuk-hint {
  color: govuk-colour("white") !important;
}

.app-service-navigation__align-right {
  @include govuk-media-query($from: tablet) {
    margin-left: auto;
  }
}

.app-panel-token {
  display: block;
  font-family: monospace;
  overflow-wrap: break-word;
  word-break: break-all;
}

.app-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(1);

  .govuk-tag {
    margin: 0;
  }
}
