{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/search/macro.njk" import appSearch %}
{% from "_components/secondary-navigation/macro.njk" import appSecondaryNavigation %}

{% block pageTitle -%}
  {{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{%- endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    rebrand: true,
    homepageUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  {% set isApiUser = currentUser and currentUser.isApiUser %}

  {% set navigationEndHtml %}
    <li class="govuk-service-navigation__item {{- ' govuk-service-navigation__item--active' if primaryNavId == 'account' }} app-service-navigation__align-right">
      <a class="govuk-service-navigation__link" href="/account" {{- ' aria-current="true"' if primaryNavId == "account" }}>Your account</a>
    </li>
    <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="/sign-out">Sign out</a>
    </li>
  {% endset %}

  {% if not hidePrimaryNavigation %}
    {{ govukServiceNavigation({
      navigationId: "primaryNavigation",
      serviceName: serviceName,
      serviceUrl: "/",
      navigation: [
        {
          text: "Providers",
          href: "/providers",
          active: primaryNavId == "providers"
        } if not isApiUser,
        {
          text: "Users",
          href: "/users",
          active: primaryNavId == "users"
        } if not isApiUser,
        {
          text: "API clients",
          href: "/api-clients",
          active: primaryNavId == "apiClients"
        },
        {
          text: "Activity log",
          href: "/activity",
          active: primaryNavId == "activity"
        } if not isApiUser
      ],
      slots: {
        navigationEnd: navigationEndHtml
      }
    }) }}
  {% endif %}

  {% include "_includes/phase-banner.njk" %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
