{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
      {
        href: "/account",
        text: "Your account",
        active: headerNavId == "account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

  {% include "_includes/phase-banner.njk" %}

  {{ govukServiceNavigation({
    navigation: [
      {
        text: "Providers",
        href: "/providers",
        active: primaryNavId == "providers"
      },
      {
        text: "Users",
        href: "/users",
        active: primaryNavId == "users"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
